<!DOCTYPE html>

<html xmlns:th="thymeleaf.org">

	<head>

		<title>Registrar Cliente</title>

	</head>

	<body>

		<h1 align="center">Registrar Cliente</h1>

		<form th:action="@{/vistas/GuardarCliente}" method="post" th:object="${regcliente}">

		<table align="center">

			<input type="hidden" th:field="*{idcliente}">

			<tr><td>Nombre</td><td><input type="text" th:field="*{nombre}"></td></tr>

			<tr><td>Apellido</td><td><input type="text" th:field="*{apellido}"></td></tr>

			<tr><td>Dni</td><td><input type="number" th:field="*{dni}"></td></tr>

			<tr><td>Email</td><td><input type="text" th:field="*{email}"></td></tr>

			<tr><td>Telefono</td><td><input type="text" th:field="*{tel}"></td></tr>

			<tr><td>Sexo</td><td><input type="text" th:field="*{sexo}"></td></tr>

			<tr><td>Nacionalidad</td><td><input type="text" th:field="*{nacionalidad}"></td></tr>

			<tr><td  colspan="2" align="center">

				<input type="submit" value="registrar"></td>

				</tr>

		</table>			

		</form>

		

	</body>

</html>


